/* Generics */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    text-align: center;
}

/* Content */

#container{
    width: 600px;
    height: 600px;
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
}

.square{
    width: 55px;
    height: 55px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(243, 243, 161);
}
